<aside id="wrap_left" class="lg:w-56 flex-shrink-0">
  <div class="border border-gray-300 bg-white mb-3">
    <div class="mz-sidebar-title px-3 py-2 text-xs font-black">【商品分類】</div>
    <ul class="divide-y divide-gray-200">
      <% (categories || []).forEach(cat => { %>
        <li>
          <a href="/products?category=<%= encodeURIComponent(cat.slug) %>&page=1" class="block px-3 py-2 text-xs hover:bg-gray-100">
            <%= cat.name %> <span class="text-gray-400">(<%= cat.count %>)</span>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>

  <div class="border border-gray-300 bg-white mb-3">
    <div class="mz-sidebar-title px-3 py-2 text-xs font-black">【會員】</div>
    <div class="p-3 text-xs">
      <% if (user) { %>
        <div class="mb-2">已登入</div>
        <a class="underline" href="/logout">登出</a>
      <% } else { %>
        <div class="flex gap-2">
          <a class="underline" href="/login"><%= t('nav.login') %></a>
          <a class="underline" href="/register"><%= t('nav.register') %></a>
        </div>
      <% } %>
    </div>
  </div>

  <div class="border border-gray-300 bg-white">
    <div class="mz-sidebar-title px-3 py-2 text-xs font-black">【公告】</div>
    <div class="p-2 space-y-2">
      <a href="/products?page=1" class="block border border-gray-200 bg-white">
        <img src="/assets/mzakka/banners/214x78.jpg" alt="活動" class="w-full">
      </a>
      <a href="/products?page=1" class="block border border-gray-200 bg-white">
        <img src="/assets/mzakka/banners/M_zakka_214x78.jpg" alt="活動" class="w-full">
      </a>
    </div>
  </div>
</aside>
